.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 5px 10px;
	cursor: pointer;
	width: 100%;
}

.active {
	background-color: rgba(48, 79, 255, 0.35);
}
