.input {
	padding: 15px;
	padding-right: 55px;
	border-radius: 10px;
	border: 2px dashed #919191;
	background-color: transparent;
	outline: none;
	width: 100%;
	margin-top: 20px;
}

.error {
	color: tomato;
}
