.list {
	width: 300px;
}

.container {
	padding: 10px;
	margin-bottom: 25px;
	border-radius: 10px;
	background-color: rgba(45, 55, 92, 0.4);
	text-align: left;
}

.hr {
	margin: 5px 0;
	border: none;
	height: 1px;
	background-color: #d9dbe1;
	width: 100%;
}
