.form {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	flex-grow: 1;

	&__button {
		cursor: pointer;
		width: 100%;
		padding: 15px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		margin-top: 20px;
		background-color: rgba(18, 26, 66, 0.3);
		justify-content: center;
		border: 1px solid rgb(18, 26, 66);
		color: rgb(18, 26, 66);

		&:hover {
			background-color: rgba(18, 26, 66, 0.1);
		}
	}

	&__error {
		color: tomato;
	}
}
